* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

  .row {
    width: 100%;
  }

  h1{
    text-align: center;
    margin-top: 20px;
  }

  /*** Large - Desktop ***/
@media (min-width: 992px) {
    .col-lg-4 {
      width: 33.33%;
      float: left;
    }
  }

  /*** Medium - Tablet ***/
  @media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}

div{
    position: relative;
    padding: 10px;
}

section{
    padding: 15px;
    border: 1px solid black;
    background-color: grey;
    width: 100%;
    height: 170px;
    margin-right: auto;
    margin-left: auto;
    font-family: Roboto;
    color: black;
    font-size: 14px;
}

.menu-chicken{
    float: right;
    padding: 5px 10px;
    background-color: bisque;
    border: solid 1px black;
    width: 100px;
    text-align: center;
}

.menu-beef{
    float: right;
    padding: 5px 10px;
    background-color: orange;
    border: solid 1px black;
    width: 100px;
    text-align: center;
}

.menu-sushi{
    float: right;
    padding: 5px 10px;
    background-color: green;
    border: solid 1px black;
    width: 100px;
    text-align: center;
}